@{
    Layout = "Demo";
    ViewData["Title"] = "Pocket Demo";
}

    <div class="row">
        <div class="twelve columns">
            <h1>Demo Voucher Transfer</h1>

            <p>Lorem ipsum yadda yadda.</p>
            <p>Lorem ipsum yadda yadda.</p>
            <p>Lorem ipsum yadda yadda.</p>

            <form method="post" action="@Url.Action(nameof(DemoController.RequestVoucher), "Demo")">
                <button type="submit" class="button button-primary">
                    Get sample voucher!
                </button>
            </form>

        </div>
    </div>
