@{
    Layout = "Demo";
    ViewData["Title"] = "Demo Voucher Transfer";
}

@section header {
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <img src="~/wom-logo.png" alt="WOM logo" class="img-fluid" />
        </div>
    </div>
</div>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1 class="display-3">Voucher</h1>

            <p class="lead">
                Introduction to gaining vouchers. Yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda.
            </p>

            <h2>Something</h2>

            <p>Lorem ipsum yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda.</p>

            <h2>Something else</h2>

            <p>Lorem ipsum yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda yadda.</p>

            <form method="post" action="@Url.Action(nameof(DemoController.RequestVoucher), "Demo")" class="text-center">
                <button type="submit" class="btn btn-primary">
                    Get sample voucher
                </button>
            </form>

        </div>
    </div>
</div>
