@using WomPlatform.Web.Api.ViewModel
@model LoginViewModel
@{
    Layout = "Main";
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <form method="post" action="@Url.Action(nameof(UserController.LoginPerform), "User")" class="big-form">
                <h1>Login to the WOM&nbsp;Platform</h1>

                @if(Model.PreviousLoginFailed) {
                <div class="alert alert-danger" role="alert">
                    Username or password not correct.
                </div>
                }

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" id="email" name="email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>

                <input type="hidden" name="return" value="@Model.ReturnUrl" />

                <button type="submit" class="btn btn-primary">Login</button>
                <a class="btn btn-link" href="#">Forgot password?</a>
                <a class="btn btn-link" href="@Url.Action(nameof(UserController.RegisterMerchant), "User")">Register</a>
            </form>
        </div>
    </div>
</div>
