@using WomPlatform.Web.Api.InputModels
@model UserRegisterModel
@{
    Layout = "Main";
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <form method="post" action="@Url.Action(nameof(UserController.PerformRegister), "User")" class="big-form">
                <h1>Register to the WOM&nbsp;Platform</h1>

                @Html.ValidationSummary("Validation errors:", new { @class = "text-danger" })

                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FiscalCode" class="control-label"></label>
                    <input asp-for="FiscalCode" class="form-control" />
                    <span asp-validation-for="FiscalCode" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Surname" class="control-label"></label>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group form-check">
                    <input asp-for="Accept" class="form-check-input" />
                    <label asp-for="Accept" class="form-check-label"></label>
                    <span asp-validation-for="Accept" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
                <a class="btn btn-link" href="@Url.Action(nameof(UserController.Login), "User")">Already registered?</a>
            </form>
        </div>
    </div>
</div>
