@model LoginViewModel
@{
    Layout = "Main";
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <form method="get" class="big-form">
                <h1>Register to the WOM&nbsp;Platform</h1>

                <p>La tua richiesta è stata registrata.</p>
                <p>Controlla la tua e-mail per il link di verifica dell'e-mail.&nbsp;<span class="fas"></span></p>

                <hr />

                <p class="text-muted">
                    Non è arrivato niente?
                    <a href="mailto:info@wom.social">Scrivici</a>.
                </p>
            </form>
        </div>
    </div>
</div>
