@model LoginViewModel
@{
    Layout = "Main";
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <form method="get" class="big-form">
                <h1>Register to the WOM&nbsp;Platform</h1>

                <p>Your Merchant profile has been registered.</p>
                <p>Check your e-mail for the verification link.&nbsp;<span class="fas"></span></p>

                <hr />

                <p class="text-muted">
                    Nothing in your inbox? Check your <i>spam</i> folder or <a href="mailto:info@wom.social">write us</a>.
                </p>
            </form>
        </div>
    </div>
</div>
