@model LandingPageViewModel
@{
    Layout = "LandingPage";
    ViewData["Title"] = "Not found";
    ViewData["NotFound"] = true;
}

    <div class="row">
        <div class="twelve columns">
            <p>
                The request was not found or is not available anymore.
            </p>
        </div>
    </div>
