@model LoginStatusViewModel

<ul class="navbar-nav">
    @if (Model.IsLoggedIn) {
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fas"></span>&nbsp;@Model.FullName
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
            <a class="dropdown-item" href="#"><span class="fas"></span>&nbsp;Dashboard</a>
            <a class="dropdown-item" href="#"><span class="fas"></span>&nbsp;Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="@Url.Action(nameof(UserController.Logout), "User")"><span class="fas"></span>&nbsp;Logout</a>
        </div>
    </li>
    } else {
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action(nameof(UserController.Login), "User")">
            <span class="fas"></span>&nbsp;Login
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action(nameof(UserController.Register), "User")">
            <span class="fas"></span>&nbsp;Register
        </a>
    </li>
    }
</ul>
