@model UserRegisterPosModel
@{
    Layout = "Main";
    ViewData["Title"] = "Add new POS";
}

@section head {

    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=@(Environment.GetEnvironmentVariable("GOOGLE_MAPS_API_KEY") ?? "")"></script>

}

@section footerScripts {

    <script type="text/javascript" src="~/js/pos-map.js"></script>

}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <form method="post" action="@Url.Action(nameof(DashboardMerchantController.AddNewPosPerform), "DashboardMerchant")" class="big-form">
                <h1><span class="fas"></span>&nbsp;Register new POS</h1>

                <p>
                    This form allows you to register a new <b>POS</b> to your Merchant account. A POS is required to create payments and accepts WOMs.
                </p>

                @Html.ValidationSummary("Validation errors:", new { @class = "text-danger" })

                <partial name="_PartialRegisterPosForm" />

                <button type="submit" class="btn btn-primary">Register</button>
                <a class="btn btn-link" href="@Url.Action(nameof(DashboardMerchantController.Index), "DashboardMerchant")">Cancel</a>
            </form>
        </div>
    </div>
</div>
