@model MerchantDashboardHomeViewModel
@{
    Layout = "Main";
    ViewData["Title"] = "Dashboard merchant";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-10 col-lg-8">
            <h1><span class="fas"></span>&nbsp;Dashboard merchant</h1>

            <p class="lead">Benvenuto/a, @Model.UserFullname.</p>
            <p>Questa dashboard ti permette di gestire il tuo profilo da <i>merchant</i> come “<b>@Model.MerchantName</b>” sulla Piattaforma&nbsp;WOM.</p>

            <h2>Point of Service attivi</h2>

            @if (Model.Pos.Any()) {
            <div class="list-group mt-4 mb-4">
            @foreach (var pos in Model.Pos) {
                <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">@pos.Name</h5>
                </a>
            }
            </div>
            } else {
            <p class="text-muted">
                Nessun POS attivo al momento.
            </p>
            }

            <p>
                <a href="#" class="btn btn-secondary">
                    <span class="fas"></span>&nbsp;Aggiungi nuovo POS
                </a>
            </p>

            <h3>Ricevi pagamenti</h3>

            @if (Model.Pos.Any()) {
            <p>
                Please download one of the <b>WOM&nbsp;POS</b> apps using the links below, in order to start accepting payments.
            </p>

            <div class="row">
                <div class="col-6 badge">
                    <a href="https://play.google.com/store/apps/details?id=social.wom.pos" title="Download WOM POS from Google Play">
                        <img src="~/badge_google_play.png" alt="Google Play" />
                    </a>
                </div>
                <div class="col-6 badge">
                    <a href="https://apps.apple.com/it/app/wom-pos/id1468252634" title="Download WOM POS from App Store">
                        <img src="~/badge_app_store.png" alt="Apple App Store" />
                    </a>
                </div>
            </div>
            } else {
            <p>
                Devi <a href="#">creare un nuovo POS</a> per ricevere pagamenti. (Funzione in corso di implementazione.)
            </p>
            }
        </div>
    </div>
</div>
