@{
    Layout = "Main";
    ViewData["Title"] = "WOM diAry app";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1>WOM diAry</h1>

            <p>
                <img src="~/wom-diary-logo.png" alt="WOM diAry logo" class="img-fluid" />
            </p>

            <p><b>WOM diAry</b> (digital Arianna) è un’applicazione mobile che favorisce la fruizione attiva del territorio e la partecipazione agli eventi che in esso si svolgono, offrendo nuove modalità di coinvolgimento, riconoscendo il valore sociale della partecipazione e conservando memoria, in locale e in forma anonima, dei dati necessari a ricevere informazioni, segnalazioni e premi di partecipazione riferiti solo a luoghi ed eventi effettivamente frequentati dall'utente.</p>

            <p>L’app diAry attribuisce all’utente speciali voucher elettronici (detti WOM), che riconoscono il valore sociale delle azioni individuali, rafforzando la coesione sociale e premiando la partecipazione attiva alle iniziative del territorio.</p>

            <p>L’applicazione, sviluppata da <a href="https://digit.srl">DIGIT&nbsp;srl</a> in collaborazione con l’Università di Urbino, è distribuita liberamente. La specifica e gli algoritmi sono pubblici. Il codice sorgente è a disposizione della comunità Open Source. I dati statistici sono resi disponibili come Open Dataset.</p>

            <h2>Installa l’app</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6 col-sm-5 col-md-4 col-lg-3 badge">
            <a href="https://play.google.com/store/apps/details?id=srl.digit.diary" title="Download WOM diAry from Google Play">
                <img src="~/badge_google_play.png" alt="Google Play" />
            </a>
        </div>
        <div class="col-6 col-sm-5 col-md-4 col-lg-3 badge">
            <img src="~/badge_app_store.png" alt="Apple App Store" class="off" /><br />
            (App in corso di approvazione per iOS.)
        </div>
    </div>
</div>
