@{
    Layout = "Main";
    ViewData["Title"] = "WOM Pocket app";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1>WOM Pocket</h1>

            <p>
                <img src="~/wom-logo.png" alt="WOM Pocket logo" class="img-fluid" />
            </p>

            <p>Lorem ipsum.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>Installa l’app</h2>
        </div>

        <div class="col-6 badge">
            <a href="https://play.google.com/store/apps/details?id=social.wom.pocket" title="Download WOM Pocket from Google Play">
                <img src="~/badge_google_play.png" alt="Google Play" />
            </a>
        </div>
        <div class="col-6 badge">
            <a href="https://apps.apple.com/it/app/wom-pocket/id1466969163" title="Download WOM Pocket from the App Store">
                <img src="~/badge_app_store.png" alt="Apple App Store" />
            </a>
        </div>
    </div>
</div>
